<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Poetry in [no] motion</title>
  </head>
  <body>
    <h2>Welcome to my page @Model.GetRecipient(),</h2>
    <h1>The Game of Life</h1>
    <p>The hardest lessons learned in life</p>
    <p>Are dealt and earned with grief.</p>
    <p>A hundred spans of pain and strife;</p>
    <p>A stretch of lost belief</p>
    <br>
    <p>No matter what, or why, or when,</p>
    <p>Or how, and who's to blame</p>
    <p>It comes around, and comes again,</p>
    <p>And always hurts the same.</p>
    <br>
    <p>I've failed a thousand times before.</p>
    <p>I've felt my chances fall.</p>
    <p>But I'd rather fail a thousand more</p>
    <p>Than to never try at all</p>
    <br>
    <p>GB2017</p>
    <br>
    <br>
    <p>P.S. check out some of my photos <a href="/photos">here</a></p>
  </body>
</html>
